.image-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-carousel__itemlist-wrapper {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
.image-carousel__itemlist {
    position: relative;
    width: 100%;
    display: flex;
    list-style: none;
}
.image-carousel__item {
    position: relative;
}

.image-carousel__arrow {
    position: absolute;
    content: '';
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: calc(50% - 15px);
    opacity: 0.5;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(10, 10, 10, 0.3);
    cursor: pointer;
}
.image-carousel__arrow:hover {
    transform: scale(1.5);
    opacity: 1;
}
.image-carousel__arrow--prev {
    left: -10px;
}
.image-carousel__arrow--next {
    right: -10px;
}
@media screen and (min-width: 1248px) {
    .image-carousel {
        overflow: visible;
    }
}
@media screen and (max-width: 900px) {
    .image-carousel__itemlist-wrapper {
        overflow-x: auto;

        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .image-carousel__itemlist-wrapper::-webkit-scrollbar {
        display: none;
    }
    .image-carousel__itemlist {
        transition: none;
    }
    .image-carousel__arrow {
        display: none;
    }
}